.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered {
  text-align: center;
}

#todoLabel{
  padding-right: 5px;
}

.todoList {
  list-style: none;
}

.deleteBTN {
  background-color: lightslategray;
  color: white;
}